@use "../../../../../../.cache/material/colors.scss" as *;
@use "_tokens.scss" as *;
@use "sass:color";

window.Bar {
  font-size: $font-size-base;
  font-family: $font-family;
  background: transparent;
}

.bar_item {
  background: $surfaceContainer;
  color: $foreground;
  padding: $padding;
  padding-right: $padding * 3;
  padding-left: $padding * 3;
  margin: $margin;
  margin-right: 0;
  margin-bottom: 0;
  border-radius: $border-radius;
}

.bar_item:last-child {
  margin-right: $margin;
}

.workspaces {
  padding-right: $padding;
  padding-left: $padding;
}

.workspaces button {
  border-radius: 100em;
  margin: $margin * 0.5;
  margin-right: 0em;
  padding: 0em;
  background: transparent;

  transition: all 0s;

  &.focused {
    background: $secondaryContainer;
    color: $onSecondaryContainer;
  }

  &.empty {
    color: color.mix($background, $onBackground);
  }

  &.occupied {
    color: $onBackground;
  }

  &:hover {
    background-color: color.adjust($primary, $alpha: -0.4);
    color: $onPrimary;
  }
}

.workspaces button:last-child {
  margin-right: $margin * 0.5;
}

.workspaces label {
  border-radius: 100em;
  margin: 0em;
  padding: 0em;
  min-height: 1.6em;
  min-width: 1.6em;
}
