@use "../../../../../../.cache/material/colors.scss" as *;
@use "sass:color";

window.Bar {
  font-size: 14px;
  font-family: "JetBrainsMono NF";
  background: transparent;

  > box {
    color: $foreground;
    background: transparent;
    font-weight: bold;
  }

  button {
    background: transparent;
    min-height: 0;
    min-width: 0;
  }
}

.bar_item {
  background: $background;
  color: $foreground;
  margin: 0.5em 0em 0em 0.5em;
  border-radius: 100em;
}

.bar_item:last-child {
  margin-right: 0.5em;
}

.workspaces button {
  border-radius: 100em;
  margin: 0.3em 0em 0.3em 0.3em;
  padding: 0em;
  background: transparent;

  transition: all 0s;

  &.focused {
    background: $secondaryContainer;
    color: $onSecondaryContainer;
  }

  &.empty {
    color: color.mix($background, $onBackground);
  }

  &.occupied {
    color: $onBackground;
  }

  &:hover {
    background-color: color.adjust($primary, $alpha: -0.4);
    color: $onPrimary;
  }
}

.workspaces button:last-child {
  margin-right: 0.3em;
}

.workspaces label {
  border-radius: 100em;
  margin: 0em;
  padding: 0em;
  min-height: 1.7em;
  min-width: 1.7em;
}
