// Colors.scss
:root {
  --primary-paletteKeyColor: #697f3d;
  --secondary-paletteKeyColor: #727a5f;
  --tertiary-paletteKeyColor: #527f79;
  --neutral-paletteKeyColor: #76786e;
  --neutral-variant-paletteKeyColor: #75786b;
  --background: #12140d;
  --onBackground: #e3e3d7;
  --foreground: #e3e3d7;
  --surface: #12140d;
  --surfaceDim: #12140d;
  --surfaceBright: #383a32;
  --surfaceContainerLowest: #0d0f08;
  --surfaceContainerLow: #1a1c15;
  --surfaceContainer: #1e2019;
  --surfaceContainerHigh: #292b23;
  --surfaceContainerHighest: #34362e;
  --onSurface: #e3e3d7;
  --surfaceVariant: #45483c;
  --onSurfaceVariant: #c6c8b9;
  --inverseSurface: #e3e3d7;
  --inverseOnSurface: #2f3129;
  --outline: #909284;
  --outlineVariant: #45483c;
  --shadow: #000000;
  --scrim: #000000;
  --surfaceTint: #b7d085;
  --primary: #b7d085;
  --onPrimary: #253600;
  --primaryContainer: #3a4d10;
  --onPrimaryContainer: #d3ec9e;
  --inversePrimary: #516527;
  --secondary: #c2caaa;
  --onSecondary: #2c331d;
  --secondaryContainer: #424a31;
  --onSecondaryContainer: #dee6c5;
  --tertiary: #a0d0c8;
  --onTertiary: #013732;
  --tertiaryContainer: #6b9992;
  --onTertiaryContainer: #000000;
  --error: #ffb4ab;
  --onError: #690005;
  --errorContainer: #93000a;
  --onErrorContainer: #ffdad6;
  --primaryFixed: #d3ec9e;
  --primaryFixedDim: #b7d085;
  --onPrimaryFixed: #141f00;
  --onPrimaryFixedVariant: #3a4d10;
  --secondaryFixed: #dee6c5;
  --secondaryFixedDim: #c2caaa;
  --onSecondaryFixed: #171e09;
  --onSecondaryFixedVariant: #424a31;
  --tertiaryFixed: #bcece4;
  --tertiaryFixedDim: #a0d0c8;
  --onTertiaryFixed: #00201d;
  --onTertiaryFixedVariant: #204e49;
}

//Then, convert all the sass variables to use the css variables
$primary_paletteKeyColor: var(--primary-paletteKeyColor) !default;
$secondary_paletteKeyColor: var(--secondary-paletteKeyColor) !default;
$tertiary_paletteKeyColor: var(--tertiary-paletteKeyColor) !default;
$neutral_paletteKeyColor: var(--neutral-paletteKeyColor) !default;
$neutral_variant_paletteKeyColor: var(--neutral-variant-paletteKeyColor) !default;
$background: var(--background) !default;
$onBackground: var(--onBackground) !default;
$foreground: var(--foreground) !default;
$surface: var(--surface) !default;
$surfaceDim: var(--surfaceDim) !default;
$surfaceBright: var(--surfaceBright) !default;
$surfaceContainerLowest: var(--surfaceContainerLowest) !default;
$surfaceContainerLow: var(--surfaceContainerLow) !default;
$surfaceContainer: var(--surfaceContainer) !default;
$surfaceContainerHigh: var(--surfaceContainerHigh) !default;
$surfaceContainerHighest: var(--surfaceContainerHighest) !default;
$onSurface: var(--onSurface) !default;
$surfaceVariant: var(--surfaceVariant) !default;
$onSurfaceVariant: var(--onSurfaceVariant) !default;
$inverseSurface: var(--inverseSurface) !default;
$inverseOnSurface: var(--inverseOnSurface) !default;
$outline: var(--outline) !default;
$outlineVariant: var(--outlineVariant) !default;
$shadow: var(--shadow) !default;
$scrim: var(--scrim) !default;
$surfaceTint: var(--surfaceTint) !default;
$primary: var(--primary) !default;
$onPrimary: var(--onPrimary) !default;
$primaryContainer: var(--primaryContainer) !default;
$onPrimaryContainer: var(--onPrimaryContainer) !default;
$inversePrimary: var(--inversePrimary) !default;
$secondary: var(--secondary) !default;
$onSecondary: var(--onSecondary) !default;
$secondaryContainer: var(--secondaryContainer) !default;
$onSecondaryContainer: var(--onSecondaryContainer) !default;
$tertiary: var(--tertiary) !default;
$onTertiary: var(--onTertiary) !default;
$tertiaryContainer: var(--tertiaryContainer) !default;
$onTertiaryContainer: var(--onTertiaryContainer) !default;
$error: var(--error) !default;
$onError: var(--onError) !default;
$errorContainer: var(--errorContainer) !default;
$onErrorContainer: var(--onErrorContainer) !default;
$primaryFixed: var(--primaryFixed) !default;
$primaryFixedDim: var(--primaryFixedDim) !default;
$onPrimaryFixed: var(--onPrimaryFixed) !default;
$onPrimaryFixedVariant: var(--onPrimaryFixedVariant) !default;
$secondaryFixed: var(--secondaryFixed) !default;
$secondaryFixedDim: var(--secondaryFixedDim) !default;
$onSecondaryFixed: var(--onSecondaryFixed) !default;
$onSecondaryFixedVariant: var(--onSecondaryFixedVariant) !default;
$tertiaryFixed: var(--tertiaryFixed) !default;
$tertiaryFixedDim: var(--tertiaryFixedDim) !default;
$onTertiaryFixed: var(--onTertiaryFixed) !default;
$onTertiaryFixedVariant: var(--onTertiaryFixedVariant) !default;
