@use "Unset.scss";
@use "Bar.scss";
@use "Overview.scss";
@use "PowerMenu.scss";
@use "QuickMenu.scss";
@use "Notification.scss";

@use "_tokens.scss" as *;
@use "../../../../../../.cache/material/colors.scss" as *;
@use "sass:color";

.window {
  color: $foreground;
  background: $background;
  border-radius: $border-radius;
  padding: 0.5em;
  font-size: 14px;
  font-family: "JetBrainsMono NF";
}

/*
.panel {
  background: $background;
  border-radius: settings.$borderRadius;
  margin-bottom: 0.4em;
}

.panel > * {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 0.4em;
}

.panel > *:last-child {
  margin-right: 0.4em;
}
*/
