@use "../../../../../../.cache/material/colors.scss" as *;
@use "_tokens.scss" as *;
@use "sass:color";

.notification {
  color: $foreground;
  background: $background;
  border-radius: $border-radius;
  padding: $padding;
  margin: $margin;
  font-size: $font-size-base;
  font-family: $font-family;
}

.notification_badge {
  &.critical {
    label.app_name {
      color: $error;
    }

    separator {
      color: $error;
    }
  }

  &.normal {
    label.app_name {
      color: $primary;
    }

    separator {
      color: $primary;
    }
  }
  &.low {
    label.app_name {
      color: $secondary;
    }

    separator {
      color: $secondary;
    }
  }
}

.NotificationCenterWindow {
}
.NotificationItem {
  background: transparent;
}
