@use "../../../../../../.cache/material/colors.scss" as *;
@use "_tokens.scss" as *;
@use "sass:color";

entry {
  margin: $margin;
  padding: $padding;
  border-radius: $border-radius;
}

entry:focus-within {
  outline: $secondary;
  outline-width: 1px;
  outline-style: solid;
}

.overview_list {
  color: $foreground;
  background: transparent;
}

.app-icon {
  margin-right: $margin;
}

.app-name {
  font-weight: bold;
}

.app-application {
  font-weight: normal;
}

.overview_list_row {
  color: $foreground;
  padding: $padding * 2;
  margin: $margin;
  border-radius: $border-radius;

  &:selected {
    background: transparent;
    outline-color: transparent;
  }

  &:focus-within {
    background: $secondaryContainer;
    outline-color: transparent;
  }

  &:hover {
    background-color: color.adjust($primary, $alpha: -0.4);
  }
}
