@use "../../../../../../.cache/material/colors.scss" as *;
@use "_tokens.scss" as *;
@use "sass:color";

// QuickMenu window
.QuickMenuWindow {
  color: $foreground;
  background: $background;
  border-radius: $border-radius;
  font-size: $font-size-base;
  font-family: $font-family;
  padding: $padding;
}

// Qpanel (used by Qheader, QMultimedia, etc.)
.Qpanel {
  background: $surfaceContainer;
  color: $foreground;
  padding: $padding;
  margin: $margin;
  border-radius: $border-radius;
}

// Qheader styles
.Qheader {
  padding: $padding;
  font-size: $font-size-base;
  font-family: $font-family;
  border-radius: $border-radius;
  background: transparent;

  label {
    font-weight: bold;
    margin-right: $margin;
    padding: 0em;
  }
}

.Qbutton {
  color: $foreground;
  border-radius: $border-radius;
  margin: $margin;
  padding: $padding;
  background: $surfaceContainer;

  min-height: 1.6em;
  min-width: 1.6em;

  &:selected {
    background: transparent;
    outline-color: transparent;
  }

  &:focus-within {
    background: $secondaryContainer;
    outline-color: transparent;
  }

  &:hover {
    background-color: color.adjust($primary, $alpha: -0.4);
  }
}

// QMultimedia
.QMultimedia {
  display: flex;
  flex-direction: column;
  gap: $gap;
  .Qpanel {
    margin-bottom: $margin;
  }
  button,
  .togglebutton {
    border-radius: $border-radius;
    background: transparent;
    color: $foreground;
    &:hover {
      background: color.adjust($primary, $alpha: -0.4);
      color: $onPrimary;
    }
  }
  scale {
    margin: 0 $margin;
  }
}

.QmediaRow {
  padding: $padding;
  margin: $margin;
}

.QmultimediaScale {
  background: $surfaceContainerHigh;
  border-radius: $border-radius;

  trough {
    background: $surfaceContainerHigh;
    border-radius: $border-radius;
    min-height: 1em;
  }

  /* Try these alternative selectors */
  trough highlight,
  trough progress,
  trough fill {
    border-radius: $border-radius;
    background-color: $primary;
  }

  slider {
    background-color: $primary;
  }
}

.Qmedia-image {
  min-width: 6em;
  min-height: 6em;
  margin: $margin;
  border-radius: $border-radius;
}

.Qmedia-identity {
  margin: $margin;
  margin-bottom: 0em;
}

.Qmedia-title {
  margin: $margin;
  margin-bottom: 0em;
  margin-top: 0em;
}

.Qmedia-artist {
  margin: $margin;
  margin-top: 0em;
}

.Qmedia-music-time {
  margin: $margin;
}

.Qmedia-music-controll-button {
  margin: $margin;
}

.Qmedia-music-scale {
  margin: $margin;
  background: $surfaceContainerHigh;
  border-radius: $border-radius;

  trough {
    background: $surfaceContainerHigh;
    border-radius: $border-radius;
    min-height: 1em;
  }

  /* Try these alternative selectors */
  trough highlight,
  trough progress,
  trough fill {
    border-radius: $border-radius;
    background-color: $primary;
  }

  slider {
    background-color: $primary;
  }
}
