@use "../../../../../../.cache/material/colors.scss" as *;
@use "Settings" as settings;
@use "sass:color";

.QuickMenuWindow {
  foreground: $foreground;
  color: $foreground;
  background: transparent;
  font-size: 14px;
  font-family: "JetBrainsMono NF";
}

.QMenuProfileImage {
  min-height: 2.5em;
  min-width: 2.5em;
  border-radius: 50%;
}

.QAudioItem {
  background: transparent;
}
