.styleTester {
    background: $background;

    button {
        background: $layer0;
        color: $onLayer0;
        border: 1px solid $onLayer0;
        border-radius: 5px;
        padding: 10px;
        margin: 4px;
        &:hover {
            background: $layer0Hover;
        }
        &:focus {
            background: $layer0Hover;
        }
        &:active {
            background: $layer0Active;
            color: $onLayer0Active;
        }
    }
}

.color_box {
    margin: 4px;
}
.color_background {
    padding: 10px;
    border-radius: 5px;
    background: $background;
}
.color_surface {
    padding: 10px;
    border-radius: 5px;
    background: $surface;
}
.color_surfaceDim {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceDim;
}
.color_surfaceBright {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceBright;
}
.color_surfaceContainerLowest {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceContainerLowest;
}
.color_surfaceContainerLow {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceContainerLow;
}
.color_surfaceContainer {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceContainer;
}
.color_surfaceContainerHigh {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceContainerHigh;
}
.color_surfaceContainerHighest {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceContainerHighest;
}
.color_surfaceVariant {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceVariant;
}
.color_inverseSurface {
    padding: 10px;
    border-radius: 5px;
    background: $inverseSurface;
}
.color_surfaceTint {
    padding: 10px;
    border-radius: 5px;
    background: $surfaceTint;
}
.color_layer0 {
    padding: 10px;
    border-radius: 5px;
    background: $layer0;
    color: $onLayer0;
}
.color_layer0Hover {
    padding: 10px;
    border-radius: 5px;
    background: $layer0Hover;
    color: $onLayer0;
}
.color_layer0Active {
    padding: 10px;
    border-radius: 5px;
    background: $layer0Active;
    color: $onLayer0Active;
}
.color_layer1 {
    padding: 10px;
    border-radius: 5px;
    background: $layer1;
    color: $onLayer1;
}
.color_layer1Hover {
    padding: 10px;
    border-radius: 5px;
    background: $layer1Hover;
    color: $onLayer1;
}
.color_layer1Active {
    padding: 10px;
    border-radius: 5px;
    background: $layer1Active;
    color: $onLayer1;
}
.color_layer2 {
    padding: 10px;
    border-radius: 5px;
    background: $layer2;
    color: $onLayer2;
}
.color_layer2Hover {
    padding: 10px;
    border-radius: 5px;
    background: $layer2Hover;
    color: $onLayer2;
}
.color_layer2Active {
    padding: 10px;
    border-radius: 5px;
    background: $layer2Active;
    color: $onLayer2;
}
.color_layer3 {
    padding: 10px;
    border-radius: 5px;
    background: $layer3;
    color: $onLayer3;
}
.color_layer3Hover {
    padding: 10px;
    border-radius: 5px;
    background: $layer3Hover;
    color: $onLayer3;
}
.color_layer3Active {
    padding: 10px;
    border-radius: 5px;
    background: $layer3Active;
    color: $onLayer3;
}
