@use "sass:color";

.bar {
    padding: 6 6 0 6px;

    .bar__item {
        font-size: 16px;
        font-weight: 500;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 24px;
        background: $background;
        color: $onBackground;
        border: none;
        outline: none;

        min-height: 30px;

        &.bar__button {
            &:hover {
                background: $inverseSurface;
            }
            &:active {
                background: $inverseSurface;
            }
            &.active {
                background: $primary;
                color: $onPrimary;
            }
            &.bar__recording-indicator {
                padding: 0;
                /* min-height: 42px;
                min-width: 42px; */
                background: $errorContainer;
                color: $onErrorContainer;

                &:hover {
                    color: $errorContainer;
                    background: $onErrorContainer;
                }
                &.spacing {
                    label {
                        min-width: 54px;
                        margin-right: 8px;
                    }
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }
    }

    // Workspaces

    .workspaces {
        padding-left: 4px;
        padding-right: 4px;
    }

    .workspace-button {
        padding: 0px 5px;
        margin: 4px 0px;
        /* margin-right: 3px; */
        border-radius: 100px;
        border: 0px;

        transition: all 0s;

        color: mix($background, $onBackground);

        &:hover {
            background-color: color.adjust($primary, $alpha: -0.4);
            color: $onPrimary;
        }

        &.exists {
            color: $onBackground;
        }

        &.active,
        &:active {
            background-color: $primaryContainer;
            color: $onPrimaryContainer;
        }

        &:last-child {
            margin-right: 0px;
        }
    }

    .bar__item.transparent {
        background: transparent;
        color: $onSurface;
    }

    .bar__item.primary_container {
        background: $primaryContainer;
        color: $onPrimaryContainer;
    }

    .bar__active-app {
        padding-left: 12px;
        padding-right: 16px;
        icon {
            min-width: 20px;
            min-height: 20px;
            font-size: 20px;
        }
        .desktop {
            icon {
                font-size: 14px;
            }
        }
    }

    .bar__keyboard-layout {
        padding: 0;
        min-height: 42px;
        min-width: 42px;
    }

    .bar__battery {
        padding-left: 10px;
        padding-right: 10px;
    }

    .bar__notifications {
        padding-left: 12px;
        padding-right: 10px;
    }

    .bar__notifications_label {
        font-size: 12px;
        border-radius: 9px;
        min-width: 18px;
        min-height: 18px;
        background: $inverseSurface;
        color: $surface;
    }

    .bar__tray {
        padding-left: 10px;
        padding-right: 10px;
    }

    .bar__tray-item {
        padding: 0;
        min-width: 22px;
        min-height: 22px;
        background: none;
        &:hover {
            background-color: color.adjust($primary, $alpha: -0.4);
        }
        icon {
            font-size: 18px;
        }
    }

    .bar__rounded-box {
        .bar__item {
            border-radius: 4px;
        }
    }

    .bar__rounded-box > * {
        &:last-child {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        &:first-child,
        &:first-child > * {
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
        }
    }
}
