.control-center__container {
    border-radius: 30px;
    min-width: 450px;
    min-height: 650px;
    background: $background;
    color: $onBackground;
}

.control-center__page {
    padding: 20px 20px 0px 20px;
}

.control-center__page.main {
    padding: 10px;
}

.control-center__page_scrollable-content {
    margin-bottom: 20px;
}

.control-center__page_header {
    color: $onSurface;
    margin-top: 8px;
    margin-bottom: 24px;
    label {
        font-size: 18px;
        font-weight: 500;
    }
}

.control-center__page_header_button {
    background: $surface;
    color: $onSurface;
    min-width: 38px;
    min-height: 38px;
    border-radius: 100px;
    &:hover {
        background-color: $surface;
    }
}

.control-center__page_item-header {
    background: $surface;
    &.active {
        background: $primaryContainer;
        color: $onPrimaryContainer;
    }
    border-radius: 24px;
    padding: 0px 22px;
    min-height: 80px;
    transition: background 0.1s ease;
    label {
        font-size: 16px;
        font-weight: 500;
        margin-left: 16px;
    }
}
.control-center__page_item {
    background: $surface;
    &:first-child {
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    &:last-child {
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
    }
    padding: 18px 22px;
    color: $onSurface;
    transition: background 0.1s ease;
    label {
        font-size: 14px;
        font-weight: 500;
        margin-left: 16px;
    }
    &:hover {
        background-color: $surface;
    }
}

.control-center__button {
    background-color: $surfaceContainerHighest;
    color: $onSurface;
    padding: 0 24px 0 30px;
    border-radius: 100px;

    min-height: 64px;
    transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;

    &.active {
        background: $primary;
        color: $onPrimary;
        &:hover {
            background: $primary;
        }
        &:active {
            background: $onPrimaryContainer;
        }
    }

    &:hover {
        background-color: $surfaceContainerHigh;
    }
    font-size: 14px;
    font-weight: 600;
    &.no-label {
        padding: 0;
    }
    &.recorder-indicator {
        &.active {
            background: $errorContainer;
            color: $onErrorContainer;
            &:hover {
                background: $errorContainer;
            }
            &:active {
                background: $errorContainer;
            }
        }
    }

    > * {
        border-radius: 30px;
    }
}

.control-center__dropdown-menu {
    background: $surface;
    border-radius: 32px;
    padding: 24px;
}

.control-center__dropdown-menu_icon {
    font-size: 20px;
    color: red;
}

.control-center__dropdown-menu_title {
    font-size: 20px;
    font-weight: 600;
}

.control-center__dropdown-menu_item {
    icon {
        font-size: 16px;
    }
    label {
        font-size: 16px;
    }
}

.control-center__brightness-slider,
.control-center__volume-slider {
    * {
        padding: 0;
        margin: 0;
        border: none;
    }

    .control-center__slider-icon {
        color: $onPrimary;
        margin-left: 14px;
    }

    trough {
        transition:
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out;
        border-radius: 100px;
        background-color: $surface;
        min-height: 44px;

        highlight {
            min-width: 44px;
            border-radius: 100px;
            background-color: $primary;
            border-radius: 100px;
            transition:
                background-color 0.3s ease-in-out,
                color 0.3s ease-in-out;
        }

        slider {
            min-width: 44px;
            min-height: 44px;
            border-radius: 100px;
            background-color: transparent;
            box-shadow: none;

            transition:
                background-color 0.3s ease-in-out,
                color 0.3s ease-in-out;
        }
    }
}

.muted {
    .control-center__volume-slider {
        highlight {
            background-color: $surface;
        }
    }
    .control-center__slider-icon {
        color: $onSurface;
    }
}

.control-center__time-to-empty {
    color: $onSurface;
    font-size: 15px;
    font-weight: 500;
}

.control-center__settings-button,
.control-center__powermenu-button {
    min-width: 42px;
    min-height: 42px;
    background: $surfaceContainerHighest;
    color: $onSurface;
    border-radius: 100px;
    transition: 0.15s all ease-in-out;
}

.control-center__header {
    margin-bottom: 6px;
}

.control-center__settings-button {
    background: $surfaceContainerHighest;
    color: $onSurface;
    &:hover {
        background: $secondary;
        color: $onSecondary;
    }
}

.control-center__powermenu-button {
    background: $surfaceContainerHighest;
    color: $onSurface;
    &:hover {
        background: $secondary;
        color: $onSecondary;
    }
}

.control-center__battery {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 100px;
    background: $surfaceContainerHighest;
}
