/* -----------------------------------------------------
 * Sideright
 * ----------------------------------------------------- */

.sideright_main_box {
    background-color: $background;
    border-radius: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 6px;
}

.management_box {
    padding: 15px;
    padding-bottom: 0px;
    outline: none;
    border: none;
}

.management_button {
    min-width: 170px;
    min-height: 50px;
}

.management_button {
    border-radius: 25px;
    background: $surfaceContainer;
    border: none;
    outline: none;

    transition-property: border-image, background-size, background-image, color, background-color, border-color;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.2s, 0.2s, 0.2s;

    transition-timing-function: ease-out;
    outline: none;
    background-image: radial-gradient(circle, transparent 10%, transparent 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000% 1000%;
}

.management_button label {
    color: $onSurface;
    font-weight: normal;
    transition: color 0.2s;
}

.ssid {
    font-size: 12px;
}

.management_button .icon {
    color: $onSurface;
    margin-right: 5px;
    transition: color 0.2s;
    font-weight: 400;
}

.management_button .arrow {
    margin-right: 0px;
    transition: color 0.2s;
}

.management_button:hover {
    background-color: mix($onSurfaceVariant, $surface, 0.9);
}

.management_button:active {
    background-image: radial-gradient(circle, mix($onSurface, $surface, 0.85) 10%, transparent 0%);
}

.management_button.active label {
    color: $onPrimary;
}

.management_button.active .icon {
    color: $onPrimary;
    font-weight: normal;
}

.management_button.active {
    background-color: $primary;
    transition-duration: 0.3s, 0ms, 0.3s, 0.2s, 0.3s, 0.2s;
    animation: ripple 0.3s ease-out forwards;
    background-size: 0% 0%;
    border: 0px solid;
    background-image: radial-gradient(circle, $primary 10%, mix($onSurface, $surface, 0.85) 0%);
}

.management_button.active:active {
    background-image: radial-gradient(circle, transparent 10%, transparent 0%);
}

.management_button.waiting label {
    color: $onError;
}

.management_button.waiting .icon {
    color: $onError;
}

.management_button.waiting {
    background-color: $error;
    border: 0px solid;
}

.management_button.disabled {
    background: transparent;
}

.sidebar_bottom {
    background-color: $surface;
    border-radius: 24px 24px 0px 0px;
    transition: all 0.25s ease-in-out;
}

.notifications_sidebar_scrollable {
    padding-top: 6px;
}

.notifications_sidebar_scrollable scrollbar {
    opacity: 0.1;
}

.notifications_sidebar_scrollable .notification {
    margin-left: 10px;
    margin-right: 9px;
    margin-top: 4px;
    border-radius: 6px;
    padding: 15px;
    background-color: $surfaceContainerLow;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.24);
    transition:
        all 0.2s ease-in-out,
        border-radius 0.1s ease-in-out;
}

.notifications_sidebar_scrollable viewport > box > .first .notification {
    border-radius: 14px 14px 6px 6px;
}

.notifications_sidebar_scrollable viewport > box > .last .notification {
    border-radius: 6px 6px 14px 14px;
}

.notifications_sidebar_scrollable viewport > box > .margin_bottom .notification {
    margin-bottom: 10px;
}

.notifications_sidebar_scrollable viewport > box > .first.last .notification {
    border-radius: 14px;
}

.notifications_sidebar_scrollable .notification-time {
    color: $primary;
}

.notifications_sidebar_scrollable {
    padding-right: 1px;
    color: $primary;
}

.system_box {
    padding: 10px;
}

.system_scale slider {
    color: $onPrimary;
    background-color: $primary;
    background-size: 20px 20px;
    min-width: 30px;
    min-height: 23px;
    border-radius: 100px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -16px;
    margin-bottom: -16px;
}

.system_scale.backlight slider {
    background-image: -gtk-scaled(url("../../.cache/material/svg/brightness-onPrimary.svg"));
}

.system_scale.backlight {
    margin-bottom: 25px;
}

.system_scale.brightness slider {
    background-image: -gtk-scaled(url("../../.cache/material/svg/dark-onPrimary.svg"));
}

.system_scale {
    padding: 0px;
    margin: 0px;
}

.system_scale trough {
    background-color: $secondaryContainer;
    min-height: 6px;
    margin-right: 4px;
    margin-left: 4px;
}

.system_scale highlight {
    border-radius: 100px 0px 0px 100px;

    margin-top: -13px;
    margin-bottom: -13px;
    margin-left: -16px;
    background-color: $primary;
}

.system_box .slider_box,
.system_box .usage_box,
.system_box .info_box {
    background-color: $surfaceContainerLow;
    padding: 26px;
    border-radius: 14px;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.24);
}

.system_box .usage_box {
    padding: 10px;
}

.system_box .usage_box_inner {
    padding: 10px;
}

.system_box .info_box {
    padding: 20px;
}

.usage_bar trough {
    background-color: $secondaryContainer;
    min-height: 6px;
}

.usage_bar progress {
    min-width: 6px;
    min-height: 6px;
    background-color: $primary;
    box-shadow: 5px 0px 0px 1px $surfaceContainerLow;
    border-radius: 100px;
}

.usage_box label {
    color: $onSurface;
}

.info_box label {
    color: $onSurface;
}

.usage_bar_point {
    background-color: $primary;
    min-width: 6px;
    min-height: 6px;
    border-radius: 100%;
}

.sidebar_buttons {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
}

.dotbuttons_box {
    margin-bottom: 15px;
}

.dotbutton {
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    transition: none;
}

.dotbutton label {
    color: $surfaceContainerHigh;
}

.dotbutton:hover {
}

.dotbutton.active label {
    color: $secondary;
}
