.styleTester {
    background: $background;
}

.colors_widget {
    min-width: 100px;
}

$colors: (
    primary_paletteKeyColor: #677f3f,
    secondary_paletteKeyColor: #727b60,
    tertiary_paletteKeyColor: #527f7a,
    neutral_paletteKeyColor: #76786e,
    neutral_variant_paletteKeyColor: #75786b,
    background: #12140e,
    onBackground: #e3e3d8,
    foreground: #e3e3d8,
    surface: #12140e,
    surfaceDim: #12140e,
    surfaceBright: #383a32,
    surfaceContainerLowest: #0d0f09,
    surfaceContainerLow: #1a1c15,
    surfaceContainer: #1e2019,
    surfaceContainerHigh: #292b23,
    surfaceContainerHighest: #33362e,
    onSurface: #e3e3d8,
    surfaceVariant: #45483d,
    onSurfaceVariant: #c5c8b9,
    inverseSurface: #e3e3d8,
    inverseOnSurface: #2f312a,
    outline: #8f9285,
    outlineVariant: #45483d,
    shadow: #000000,
    scrim: #000000,
    surfaceTint: #b5d087,
    primary: #b5d087,
    onPrimary: #233600,
    primaryContainer: #384d13,
    onPrimaryContainer: #d0eda0,
    inversePrimary: #4f6629,
    secondary: #c1caab,
    onSecondary: #2b331d,
    secondaryContainer: #414a32,
    onSecondaryContainer: #dde6c6,
    tertiary: #a0d0ca,
    onTertiary: #013733,
    tertiaryContainer: #6b9994,
    onTertiaryContainer: #000000,
    error: #ffb4ab,
    onError: #690005,
    errorContainer: #93000a,
    onErrorContainer: #ffdad6,
    primaryFixed: #d0eda0,
    primaryFixedDim: #b5d087,
    onPrimaryFixed: #121f00,
    onPrimaryFixedVariant: #384d13,
    secondaryFixed: #dde6c6,
    secondaryFixedDim: #c1caab,
    onSecondaryFixed: #161e0a,
    onSecondaryFixedVariant: #414a32,
    tertiaryFixed: #bcece6,
    tertiaryFixedDim: #a0d0ca,
    onTertiaryFixed: #00201d,
    onTertiaryFixedVariant: #1f4e4a
);

@each $key, $value in $colors {
    .color_#{$key} {
        background: $value;
        min-height: 40px;
        min-width: 40px;
    }
}
