window#powermenu,
window#verification {
    background-color: transparent;
}

window#verification .verification {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    padding: 0.341rem;
    background-color: $background;
    color: $onBackground;
    min-width: 300px;
    min-height: 100px;

    .text-box {
        .title {
            font-size: 1.6em;
        }

        .desc {
            color: $onBackground;
            font-size: 1.1em;
        }
    }

    button {
        @include normal-rounding;
        // @include elevation-border;
        margin: 0.341rem;
        image {
            min-width: 1.7em;
            min-height: 1.7em;
            font-size: 4em;
        }

        &:hover {
            background-color: $surfaceVariant;
        }

        &:focus {
            background-color: $surfaceVariant;
        }

        &:active {
            background-color: $surfaceVariant;
        }
    }
}

window#powermenu .powermenu {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    padding: 0.341rem;
    background-color: $background;
    color: $onBackground;

    button {
        @include normal-rounding;
        // @include elevation-border;
        margin: 0.341rem;
        image {
            min-width: 1.7em;
            min-height: 1.7em;
            font-size: 4em;
        }

        &:hover {
            background-color: $surfaceVariant;
            color: $primary;
        }

        &:focus {
            background-color: $surfaceVariant;
            color: $primary;
        }

        &:active {
            background-color: $surfaceVariant;
            color: $primary;
        }
    }
}
